{% extends 'base.html' %}

{% block head %}
<title>Digital SAT Mock Test</title>
<link rel="stylesheet" href="{{ url_for('static', filename='exam.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    {% for question in questions %}
    <header>
        <!-- <div class="timer">0:00</div> -->
        <div id="timer">Time Left: <span id="time"></span></div>
        <div class="section-title">
            <h2>
                Section <span>{{ question.section }}</span>: Module <span>{{ question.module }}</span> 
                {% if question.category == 'sat-verbal' %}
                    <span>Reading and Writing</span>
                {% else %}
                    <span>Math</span>
                {% endif %}
            </h2>
            
        </div>
        <!-- <button class="btn-hide">Hide</button> -->
    </header>
    
    <div class="question-container">

        
        <div class="column">
            {% if question.question_header %}
                <div class="question">{{ question.question_header|safe }}</div>
            {% else %}
                <div class="question">Some text.</div>
            {% endif %}
            {% if question.question_img %}
                <img class="question-img" src="{{ url_for('static', filename='{}'.format(question.question_img)) }}" alt=""/>
            {% endif %}
            
        </div>
        
        
        <div class="column">
            <p class="question-2"> <span class="question-number">{{ question.question_id }}.</span> {{ question.question_query }}</p>
            <div class="answers">
                
                <!-- Radio buttons for answer choices -->
                <form action="/next" method="post">
                    {% if question.question_type == 'choices' %}
                        <input type="radio" id="answer_a" name="answer" value="answer_a">
                        <label class="choice-label" for="answer_a">{{ question.answer_a }}</label><br>
                        <input type="radio" id="answer_b" name="answer" value="answer_b">
                        <label class="choice-label" for="answer_b">{{ question.answer_b }}</label><br>
                        <input type="radio" id="answer_c" name="answer" value="answer_c">
                        <label class="choice-label" for="answer_c">{{ question.answer_c }}</label><br>
                        <input type="radio" id="answer_d" name="answer" value="answer_d">
                        <label class="choice-label" for="answer_d">{{ question.answer_d }}</label><br>
                    {% else %}
                        <input type="text" name="answer" required>
                    {% endif %}
                    <div class="control-button">
                        <button type="submit" class="btn-next">Next</button>
                        <input type="hidden" name="question_id" value="{{ question.question_id + 1 }}">
                    </div>
                </form>
                <div class="control-button">
                    <form action="/next" method="post">
                        <button type="submit" class="btn-back">Previous</button>
                        {% if question.question_id == 1 %}
                            <input type="hidden" name="question_id" value="{{ question.question_id }}">
                        {% else %}
                            <input type="hidden" name="question_id" value="{{ question.question_id - 1 }}">
                        {% endif %}
                    </form>
                </div>
                
            </div>
        </div>
        {% if question.category == 'sat-math' %}
        <div class="text-center">
            <div class="align-bottom">
                <a class="link" href="https://www.desmos.com/calculator" target="_blank">Graphical Calculator</a> 
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    
    
    
    <footer>
        <!-- Add any footer if needed -->
    </footer>
    <script>
        // Set the timer duration in seconds (e.g., 30 minutes)
        var timerDuration = {{ remaining_time }};
        // var timerDuration = 32 * 60;
        var timerElement = document.getElementById('time');

        function updateTimer() {
            var minutes = Math.floor(timerDuration / 60);
            var seconds = timerDuration % 60;
            timerElement.textContent = minutes.toString().padStart(2, '0') + ':' + seconds.toString().padStart(2, '0');
            timerDuration--;
            if (timerDuration < 0) {
                clearInterval(timerInterval);
                // Submit the form when the timer reaches 0
                document.querySelector('form').submit();
            }
        }

        // Update the timer every second
        var timerInterval = setInterval(updateTimer, 1000);
        updateTimer(); // Initial call to updateTimer

        // var nextButton = document.getElementByClass('btn-next');
        // var prevButton = document.getElementByClass('btn-back');

        // nextButton.addEventListener('click', function() {
        //     sendRemainingTime();
            // Add logic to move to the next question or perform other actions
        // });

        // prevButton.addEventListener('click', function() {
        //     sendRemainingTime();
            // Add logic to move to the previous question or perform other actions
        // });

    //     function updateTimer() {
    //     var minutes = Math.floor(timerDuration / 60);
    //     var seconds = timerDuration % 60;
    //     timerElement.textContent = minutes.toString().padStart(2, '0') + ':' + seconds.toString().padStart(2, '0');

    //     timerDuration--;
    //     if (timerDuration < 0) {
    //         clearInterval(timerInterval);
    //         // Submit the form when the timer reaches 0
    //         document.querySelector('form').submit();
    //     }
    // }
        
    function sendRemainingTime() {
        // Send the remaining time to Flask
        var remainingTime = Math.floor(timerDuration);
        $.ajax({
            type: "POST",
            url: "/update-timer",
            data: remainingTime,
            success: function(response) {
                console.log("Remaining time sent successfully!");
            },
            error: function(xhr, status, error) {
                console.error("Error sending remaining time:", error);
            }
            });
    }

    // var timerInterval = setInterval(updateTimer, 1000);
    // updateTimer(); 
        
        

        
    </script>
</div>
{% endblock %}
