{% extends 'base.html' %}

{% block head %}
<title>Digital SAT Mock Test</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Intsight Education</h1>
    <h2>Digital SAT Simulation Test</h2>
    <p>
        แอพพลิเคชันนี้ถูกทำเพื่อให้น้องๆ ได้ทดลองสอบเสมือนจริง โดยที่ตัวแอพจะมีฟังก์ชันการทำงานเหมือนกันแอพข้อสอบจริง 
        เพื่อให้น้องๆ คุ้นเคยกับการทำข้อสอบแบบ Computer Based Test 
    </p>
    <button class="btn-int">
        <a href="{{ url_for('login') }}">Click to Login</a>
    </button>
{% endblock %}
