{% extends 'base.html' %}

{% block head %}
<title>Log In</title>
{% endblock %}

{% block body %}
<div class="login-container">
    <div class="header text-center">
        <img class="logo" src="{{ url_for('static', filename='assets/img/intsight-logo-horizontal.png') }}" alt="">
        <h1>Digital SAT Mock Test</h1>
    </div>
    <div class="login-form">
        <h4>Please sign-in using the given username and password</h4>
        <form method="POST">
        <div class="input-group">
            <label for="username">Username</label>
            <input type="username" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Activated Code</label>
            <input type="password" id="password" name="password" required>
        </div>
        <!-- <div class="input-group">
            <label for="password">Key</label>
            <input id="test_key" name="test_key" required>
        </div> -->
        <!-- <div class="remember-me">
            <input type="checkbox" id="remember" name="remember">
            <label for="remember">Remember Me</label>
        </div> -->
        <button type="submit">Log In</button>
        </form>
        <!--  <div class="help-links">
        <a href="/update-account">Update account</a>
        <a href="/reset-password">Reset password</a>
        </div> -->
    </div>
</div>
{% endblock %}