{% extends 'base.html' %}

{% block head %}
<title>Digital SAT - Mock Test</title>
<link rel="stylesheet" href="{{ url_for('static', filename='exam.css') }}">
{% endblock %}

{% block body %}
<div class="login-container">
    <div class="header text-center">
        <h1>Your answers for this module are submitted.</h1>
        <h2>To continue your test please click on Next button below.</h2>
    </div>
    <form action="/math/math-2">
        <button type="submit" class="btn-next">Next</button>
    </form>
</div>
{% endblock %}