{% extends 'base.html' %}

{% block head %}
<title>Digital SAT Mock Test</title>
<link rel="stylesheet" href="{{ url_for('static', filename='exam.css') }}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<!-- <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->


{% endblock %}

{% block body %}
<div class="container">
    <h2>User: {{ current_user.username }}</h2>
    <header>
        <div>Time Left: <span id="timer"></span></div>
        <div class="section-title">
            <h2 id="module"></h2>
        </div>
        <!-- <button class="btn-hide">Hide</button> -->
    </header>
    <div class="question-container">

        <div class="column">
            <p id="question_header"></p>
            <img id="question_img" class="question-img" alt="">
        </div>
        
        
        <div class="column">
            <span id="question_no"></span>
            <div id=question-container>
                
                <p id="question"></p>
            </div>
            <div class="answers">
                
                <!-- Radio buttons for answer choices -->
                <form action="" method="post" id="answer-form">

                    <div id='answer-choices'>
                        <input type="radio" id="answer_a" name="answer" value="answer_a" required>
                        <label class="choice-label" for="answer_a" id="answer_choice_a"></label>
                        <br>
                        <input type="radio" id="answer_b" name="answer" value="answer_b">
                        <label class="choice-label" for="answer_b" id="answer_choice_b"></label>
                        <br>
                        <input type="radio" id="answer_c" name="answer" value="answer_c">
                        <label class="choice-label" for="answer_c" id="answer_choice_c"></label>
                        <br>
                        <input type="radio" id="answer_d" name="answer" value="answer_d">
                        <label class="choice-label" for="answer_d" id="answer_choice_d"></label>
                        <br>
                    </div>
                    <div id='fill-in' style="display:none;">
                        <input type="text" name="answer" id='fill-in-answer' autocomplete="off" required>
                    </div>
                        
                </form>
            </div>
            
            <div class="control-button">
                <button onclick="previousQuestion()" class="btn-back">Back</button>
                <button onclick="nextQuestion()" class="btn-next" id="btn-next">Next</button>
                <form id="submit-module-form" action="/submit-module/">
                    <button id="submit-btn" class="btn-next" style="display: none;" onclick="submitAllAnswers()">Submit</button>
                </form>
                
            </div>
            
            
        </div>
        
    <footer>
        <!-- Add any footer if needed -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        let questions = {{ questions|tojson }};
        let currentQuestionIndex = 0;
        let userAnswers = {};
    
        showQuestion(currentQuestionIndex);
    
        function showQuestion(index) {

            
            document.getElementById('question_id').innerHTML = questions[index].question_id;
            document.getElementById('question_no').innerHTML = questions[index].question_no;
            document.getElementById('question_header').innerHTML = questions[index].question_header;
            document.getElementById('question').innerHTML = questions[index].question_query;
            document.getElementById('question_img').src = questions[index].question_img;
            document.getElementById('answer_choice_a').innerHTML = questions[index].answer_a;
            document.getElementById('answer_choice_b').innerHTML = questions[index].answer_b;
            document.getElementById('answer_choice_c').innerHTML = questions[index].answer_c;
            document.getElementById('answer_choice_d').innerHTML = questions[index].answer_d;
            document.getElementById('module').innerHTML = "Module: " + questions[index].module;

            typesetEquations();
        

        }

        
        
    
        function nextQuestion() {
            
            if (currentQuestionIndex < questions.length - 1) {
                document.querySelectorAll('input[type="radio"]').forEach(radio => {
                    radio.checked = false;
                });
                
                document.getElementById("fill-in-answer").value = "";
                currentQuestionIndex++;
                showQuestion(currentQuestionIndex);
                document.getElementById('submit-btn').style.display = 'none';
    
                if (questions[currentQuestionIndex].type == 'blank') {
                    document.getElementById('answer-choices').style.display = 'none';
                    document.getElementById('fill-in').style.display = 'block';
                } else {
                    document.getElementById('answer-choices').style.display = 'block';
                    document.getElementById('fill-in').style.display = 'none';
                    
                }
            } else {
                document.getElementById('submit-btn').style.display = 'block'; // Show the submit button
                document.getElementById('btn-next').style.display = 'none';
            }
            submitAnswer(currentQuestionIndex);
            
        }
    
        function previousQuestion() {
            document.querySelectorAll('input[type="radio"]').forEach(radio => {
                radio.checked = false;
            });
                
            if (currentQuestionIndex > 0) {
                currentQuestionIndex--;
                showQuestion(currentQuestionIndex);
                document.getElementById('btn-next').style.display = 'block';
                if (questions[currentQuestionIndex].type == 'blank') {
                    document.getElementById('answer-choices').style.display = 'none';
                    document.getElementById('fill-in').style.display = 'block';
                } else {
                    document.getElementById('answer-choices').style.display = 'block';
                    document.getElementById('fill-in').style.display = 'none';
                }
            }
            submitAnswer(currentQuestionIndex);
        }

        document.querySelectorAll('input[type="radio"]').forEach(radio => {
            radio.addEventListener('change', function() {
                submitAnswer(currentQuestionIndex)
            });
        });

        document.querySelectorAll('input[type="text"]').forEach(text => {
            text.addEventListener('change', function() {
                submitAnswer(currentQuestionIndex)
            });
        });
    
        function submitAnswer(index) {
            // Get the user's answer based on the question type
            let question = questions[index];
            let answer;
            // if (document.querySelector('input[type="radio"]')) {
            if (document.getElementById('answer-choices').style.display != 'none') {
                answer = document.querySelector('input[name=answer]:checked').value;
            } else {
                // answer = document.querySelector('input[type="text"]').value;
                answer = document.getElementById('fill-in-answer').value;
            }

            // Store the user's answer in the userAnswers object
            userAnswers[questions[index].question_id] = answer;
        }

        function submitAllAnswers() {
            // Send an AJAX request to the Flask route to save userAnswers
            fetch('/save-answers', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(userAnswers),
            })
            .then(response => {
                if (response.ok) {
                    // Clear the userAnswers object after successfully saving to the database
                    userAnswers = {};
                    // Continue to the next question
                    if (currentQuestionIndex < questions.length - 1) {
                        currentQuestionIndex++;
                        showQuestion(currentQuestionIndex);
                        document.getElementById('submit-btn').style.display = 'none'; // Hide the submit button
                    } else {
                        document.getElementById('submit-btn').style.display = 'block'; // Show the submit button
                    }
                } else {
                    console.error('Failed to save answers to the database');
                }
            })
            .catch(error => {
                console.error('Error saving answers:', error);
            });
        

            // Continue to the next question
            // if (currentQuestionIndex < questions.length - 1) {
            //     currentQuestionIndex++;
            //     showQuestion(currentQuestionIndex);
            //     document.getElementById('submit-btn').style.display = 'none'; // Hide the submit button
            // } else {
            //     document.getElementById('submit-btn').style.display = 'block'; // Show the submit button
            // }
        }

        
    
        // timer
        let timeLimit = {{ time_duration }}; // Time limit in seconds
        let timerInterval;
        let timeRemaining = timeLimit;
    
        function updateTimer() {
            if (timeRemaining > 0) {
                let minutes = Math.floor(timeRemaining / 60);
                let seconds = timeRemaining % 60;
                document.getElementById('timer').innerHTML = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
                timeRemaining--;
            } else {
                clearInterval(timerInterval);
                // submitAnswer();
            }
        }
    
        timerInterval = setInterval(updateTimer, 1000);

        
    
        document.getElementById('submit-module-form').action = "/submit-module/" + questions[currentQuestionIndex].module;

        function typesetEquations() {
            MathJax.typeset();
        }
    
    </script>
</div>
{% endblock %}
