{% extends 'base.html' %}

{% block head %}
<title>Digital SAT - Test Submit</title>
<link rel="stylesheet" href="{{ url_for('static', filename='exam.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center">
        <img src="{{ url_for('static', filename='assets/img/formula_1.png') }}" alt="" style="height: 800px;">
        <img src="{{ url_for('static', filename='assets/img/formula_2.png') }}" alt="" style="width: 411px;">
        
    </div>
    </div>
</div>
{% endblock %}