{% extends 'base.html' %}

{% block head %}
<title>Digital SAT - Test Submit</title>
<link rel="stylesheet" href="{{ url_for('static', filename='exam.css') }}">
{% endblock %}

{% block body %}
<div class="login-container">
    <div class="header text-center">
        <h1>Your test has been submitted!</h1>
        <h2>Out academic team will review the answers and the score will be annouced on February 23, 2024.</h2>
    </div>
        <!--  <div class="help-links">
        <a href="/update-account">Update account</a>
        <a href="/reset-password">Reset password</a>
        </div> -->
    </div>
</div>
{% endblock %}